In [1]:
# python set

myset = {"apple","banana","cherry"}
print(type(myset))
print(myset)

<class 'set'>
{'banana', 'cherry', 'apple'}

In [3]:
# Set items are unordered, unchangeable, and do not allow duplicate values.

myset1 = {"apple", "banana", "cherry", "apple"}
print(myset1)

{'banana', 'cherry', 'apple'}

In [5]:
# True and 1 is considered the same value

myset2 = {"appple", "banana", "cherry", True, 1, 2}
print(myset2)

{True, 2, 'banana', 'appple', 'cherry'}

In [11]:
# Add an item to a set, using the add() method

myset3 = {"apple", "banana", "cherry"}
myset3.add("orange")
myset3.add("inception")
print(myset3)

{'orange', 'banana', 'inception', 'apple', 'cherry'}

In [14]:
# The object in the update() method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.)

myset = {"banana", "apple", "cherry"}
mylist = ["kiwi", "or5ange"]
mytuple = (50, 60, 80, 90)

myset.update(mylist, mytuple)
print(myset)

{90, 'apple', 80, 'banana', 50, 'kiwi', 'or5ange', 'cherry', 60}

In [7]:
# remove function diye jodi kono data remove kora hoy are jodi same data set e na thake tahole keyerror dibe
# To remove an item in a set, use the remove(), or the discard() method.

a = {"apple", "banana", "cherry"}
a.remove("banana2")
print(a)

KeyError: 'banana2'

In [8]:
# discard function diye jodi kono data discard kora hoy are jodi same data set e na thake tahole kono error dibe na kichu discard o hobe na
# To remove an item in a set, use the remove(), or the discard() method.

b = {"apple", "banana", "cherry"}
b.discard("banana2")
print(b)

{'cherry', 'apple', 'banana'}

In [10]:
# clear function diye set er sob data clear kora joy

c = {"apple", "banana", "cherry"}
c.clear()
print(c)

set()

In [11]:
# del function diye set ke del kora joy

d = {"apple", "banana", "cherry"}
del d
print(d)

NameError: name 'd' is not defined

In [4]:
# union() function diye 2 ta set er valu new ekta set union() kora hoy
# The union() method returns a new set with all items from both sets.

set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = set1.union(set2)
print(set3)

{'c', 1, 2, 3, 'a', 'b'}

In [6]:
# union() jagay bar | symbol diye 2 ta set er valu new ekta set union() kora hoy
# You can use the | operator instead of the union() method, and you will get the same result.

set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = set1 | set2
print(set3)

{'c', 1, 2, 3, 'a', 'b'}

In [7]:
# Join multiple sets with the union() method:

set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"jhon", "Elena"}
set4 = {"apple", "banana", "cherry"}
set5 = set1.union(set2, set2, set3, set4)
print(set5)

{1, 2, 3, 'apple', 'banana', 'Elena', 'c', 'cherry', 'a', 'b', 'jhon'}

In [8]:
# Join multiple sets with the union() bar | symbol method:

set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"jhon", "Elena"}
set4 = {"apple", "banana", "cherry"}
set5 = set1 | set2 | set2 | set3 | set4
print(set5)

{1, 2, 3, 'apple', 'banana', 'Elena', 'c', 'cherry', 'a', 'b', 'jhon'}

In [1]:
# update() function holo old set ke modified kore new set kore dei

set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set1.update(set2)
print(set1)

{1, 2, 3, 'a', 'b', 'c'}

In [3]:
# intersection() function holo 2 ta set same ba comon data new set e nei ba new set create kore 
# The intersection() method will return a new set, that only contains the items that are present in both sets.

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1.intersection(set2)
print(set3)

{'apple'}

In [1]:
# (& or intersection() same jinis) function holo 2 ta set same ba comon data new set e nei ba new set create kore 

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1 & set2
print(set3)

{'apple'}

In [2]:
# intersection_update() function holo 2ta set er valu 1ta set a update kore dei
# The intersection_update() method will also keep ONLY the duplicates, but it will change the original set instead of returning a new set.

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set1.intersection_update(set2)
print(set1)

{'apple'}

In [3]:
# difference() function holo 2ta set er modhe only first set e uncomon data gulo ke new set print kore
# The difference() method will return a new set that will contain only the items from the first set that are not present in the other set.

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1.difference(set2)
print(set3)

{'cherry', 'banana'}

In [2]:
# difference_update() function holo 2ta set er valu 1ta set a update kore dei
# The difference_update() method will also keep the items from the first set that are not in the other set, but it will change the original set instead of returning a new set.

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set1.difference_update(set2)
print(set1)

{'cherry', 'banana'}

In [4]:
# symmetric_difference() functiom holo 2ta set er uncomon data gulo ke return kore new ekta set ee
# The symmetric_difference() method will keep only the elements that are NOT present in both sets.

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1.symmetric_difference(set2)
print(set3)

{'cherry', 'microsoft', 'banana', 'google'}

In [7]:
# symmetric_difference_update() functiom holo 2ta set er uncomon data gulo ke old set e print kore
# The symmetric_difference_update() method will also keep all but the duplicates, but it will change the original set instead of returning a new set.

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set1.symmetric_difference_update(set2)
print(set1)

{'cherry', 'banana', 'google', 'microsoft'}